/* to design outer div */
#top_container{
    width: 70%;
    height: 45%;
    max-width: 700px;
    /* border: 2px solid black; */
    margin-left: 20%;
    background-image: linear-gradient(295deg,#404444,#80003b);
    border-radius: 6px 6px 6px 6px;
}
/* to design todo list div */
#container_list{
    max-width: 700px;
    margin-top: -12px;
    width: 70%;
    margin-left: 20%;
    /* border: 2px solid cyan; */
    border-radius: 6px 6px 6px 6px;
    background-image: linear-gradient(295deg,#404444,#80003b);
}

/* to make page responsive */
@media screen and (max-width: 800px){
    #top_container{
        background-color: mediumaquamarine;
        /* height: 100px; */
        min-width: 500px;
    }
    #container_list{
        min-width: 500px;
    }
    #add{
        margin-left: 5%;
        width: 90px;
    }
    #delete{
        width: 90px;
        margin-left: 8px;
    }
}

/* to make heading look good */
#heading{
    color: rgba(180, 183, 183, 1);
    margin-left: 40%;
    margin-bottom: -7px;
    margin-top: 0px;
}
#list{
    border-radius: 4px 4px 4px 4px;
    width: 92%;
    background-image: linear-gradient(-295deg,#c7a6b2,#a13153);
    margin-top: -20px;
}
#date{
    border-radius: 4px 4px 4px 4px;
    width: 90%;
    background-image: linear-gradient(-295deg,#c7a6b2,#a13153);
}
h6{
    margin-top: -3px;
    margin-left: 17px;
    color: grey;
}
select{
    width: 90%;
    height: 20px;
    border-style: none;
    margin-left: 17px;
    margin-top: -21px;
    margin-bottom: 6px;
}
/* to remove outline while clicked by user */
select:focus{
    outline: none;
}
input{
    height: 30px;
    margin-left: 16px;
    margin-top: -26px;
    margin-bottom: 5px;
    border-style: none;
    
}
/* to remove outline while clicked by user */
input:focus{
    outline: none;
}
span{
    display: inline-block;
    width: 48%;
}
#category{
    background-image: linear-gradient(-295deg,#c7a6b2,#a54d68);
    border-radius: 4px 4px 4px 4px;
    height: 31px;
}
#category, #date{
    width: 90%;
}
#category:hover, #date:hover{
    cursor: pointer;
}
button{
    height: 55px;
    width: 140px;
    color: white;
    font-size: 0.9rem;
    border-style: none;
}
#control_button{
    display: flex;
    margin-left: 25%;
    margin-top: 23px;
}
#add{
    background-color: #956f84;
    
    border-radius: 6px;
}
#delete{
    background-color: #786669;;
    border-radius: 6px;
    margin-left: 8px;
}
#add:hover, #delete:hover{
    cursor: pointer;
}
i{
    margin-right: 8px;
}

#box{
    height: 14px;
    width: 15px;
    margin-left: -28px;
    margin-top: 23px;
    margin-bottom: -41px;
}
.text{
    /* text-align: start; */
    margin-top: 19px;
    /* margin-left: -350px; */
}
#stamp{
    color: lightslategrey;
    /* margin-left: 16px; */
    margin-top: 16px;
    margin-bottom: 4px;
}
/* to make curser pointer while hover over it */
#box:hover{
    cursor: pointer;
}
#box, .text, #card{
    display: inline-block;
    font-size: 19px;
    color: grey;
    word-spacing: 4px;
}
li{
    list-style: none;
}

#card{
    height: 27px;
    width: 65px;
    background-color: #44d1c4;
    text-align: center;
    border-radius: 3px 3px 3px 3px;
    margin-top: 17px;
}
.list_task{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    height: 25px;
    width: 95%;
}
/* to apply strike-through effect */
.cross{
    text-decoration: line-through;
}
#card {
    text-decoration:none;
}